FLASK_SECRET_KEY=your-value-here
PORT=your-value-here
FLASK_ENV=your-value-here
PREFERRED_URL_SCHEME=your-value-here
PUBLIC_BASE_URL=your-value-here

USER_1_NAME=your-value-here
USER_1_PASS=your-value-here

USER_2_NAME=your-value-here
USER_2_PASS=your-value-here

USER_3_NAME=your-value-here
USER_3_PASS=your-value-here

USER_4_NAME=your-value-here
USER_4_PASS=your-value-here

TOKEN_JSON=your-value-here

GOOGLE_CLIENT_CONFIG_JSON=your-value-here

RESPOND_API_TOKEN=your-value-here

# Zoho Sign Integration (neu hinzugefügt)
ZOHO_CLIENT_ID=your-value-here
ZOHO_CLIENT_SECRET=your-value-here
ZOHO_SIGN_REFRESH_TOKEN=your-value-here
